<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>luna</display-name>
	<welcome-file-list>
		<welcome-file>start.jsp</welcome-file>
	</welcome-file-list>

	<filter>
		<filter-name>LoginCheckFilter</filter-name>
		<filter-class>filter.LoginCheckFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>LoginCheckFilter</filter-name>
		<url-pattern>/myClassList.do</url-pattern>
		<url-pattern>/myClassListEnd.do</url-pattern>
		<url-pattern>/myClassListING.do</url-pattern>
		<url-pattern>/myParticipateList.do</url-pattern>
		<url-pattern>/myParticipateListEnd.do</url-pattern>
		<url-pattern>/myPage.do</url-pattern>
		<url-pattern>/Cus_QnAForm.do</url-pattern>
		<url-pattern>/reservationCompleted.do</url-pattern>
	</filter-mapping>
</web-app>